<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChromeHistoryCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ChromeHistoryCleaner.Properties.Settings>
            <setting name="VisitCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DayDef" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="MakeBackup" serializeAs="String">
                <value>True</value>
            </setting>
        </ChromeHistoryCleaner.Properties.Settings>
    </userSettings>
</configuration>
